$bg-color-slider: #173817;
$bg-color-about: #ff97b3;
$bg-color-contact: #b3dfb3;

$text-color-main: #fff;

$card-color-1: #ffdd22;
$card-color-2: #383030;
$card-color-3: #780d1a;
$card-color-4: #f73821;
$card-color-5: #ff97b3;
$card-color-6: #e55c21;
$card-color-7: #a3c7ed;
$card-color-8: #0a2640;

$font-main: "Arial", sans-serif;
$font-second: "Lato", sans-serif;
